{% extends "base.html" %}
{% block content %}
<a href="../home">Назад</a>
{% for us in object_list %}
    <div>
        {% if us.avatar %}
         <img class="avatar"src="{{ us.avatar.url }}" width="200px">
        {% endif %}
        <h1>Login: <a href="../{{us.id}}/">{{us.username}}</a></h1>
    <h2>Name: {{us.first_name}}</h2>
    <h3>Surname: {{us.last_name}}</h3>
    <h4>Rating: {{us.rating}}</h4>
    <p>E-mail: {{us.email}}</p>
    <b>Proffession: {{us.proffession}}</b>
    </div>

{% endfor %}
{% endblock %}