{% extends "base.html" %}
{% block content %}
<div class="col-md-4 col-md-offset-4 post">
    <h3>Здравствуйте, {{user.username}}</h3>
    <h3>Ваши данные:</h3>
    {% if user.avatar %}
    <img class="avatar"src="{{ user.avatar.url }}" width="200px">
    {% endif %}
    <p>{{user.first_name}}
    {{user.last_name}}</p>
    <p>Рейтинг: {{user.rating}}</p>
    <p>E-mail: {{user.email}}</p>
    <p>Статус: {% if user.proffession == 0 %}ученик{% else %} учитель{% endif %}</p>
<a href="{% url 'users:self_update' %}">редактировать</a>
</div>
{% endblock %}
