<div class="mess_text">
        <form class="ajax-form" method="post" data-dialogcreate="#create{{dialog.id}}"
         data-dialogformload="/message/{{dialog.id}}/form_message/" action="{% url 'message:create' dialog.id%}">
                {% csrf_token %}
                <textarea class="textarea form-control" cols="40" id="id_content" name="text" rows="10" required=""></textarea>
            <input type="submit" class="btn btn-primary mess_input" value="Ответить">
        </form>
      </div>