{% extends "base.html" %}
{% block content %}
<a href="../home">Назад</a>
<div class="messeger">
{% for dialog in list_message %}
    <div class="dialog">
    {{dialog.name}}
    </div>
    <div class="message">
    {% for mess in dialog.message_set.all %}
        <div class="mess_text">
        <div class="text_mess">{{mess.text}}</div>
        <div class="mess_author">{{mess.author.username}}</div>
        <div class="mess_date">{{mess.date}}</div>
        </div>
    {% endfor%}
    </div>
{% endfor %}
</div>
{% endblock %}
