{% extends "base.html" %}
{% block content %}
<div class="col-md-4 col-md-offset-4">
    <h3>Список классов</h3>
{% for class in object_list %}
<div class="post">
<h3><a href= "{{class.id}}">{{class.classname}}</a></h3>
<h4>Учитель: <a href="../{{class.teacher.id}}/">{{class.teacher.first_name}} {{class.teacher.last_name}}</a></h4>
<h4>Ученики
    {% for cl in class.pupils.all %}
    <a href="../{{cl.id}}/">{{cl.first_name}} {{cl.last_name}}</a>
{% endfor %}
    </h4>
</div>
{% endfor %}
    </div>
{% endblock %}