{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col-md-2">
<form action="">
        {{sform.search}}
        <input type="submit" class="btn btn-primary" value="Найти">
    </form>
        <form method="post" >
                {% csrf_token %}
                {{ form|crispy }}

                <input type="submit" class="btn btn-primary" value="Создать пост">
        </form>
        </div>
    <div class="col-md-1">
        </div>
<div class="col-md-5">
{% for post in posts %}
    <div class="post">
    <div class="creator"><a href="../{{post.author.id}}/"><img class="user_avatar"src="{{post.author.avatar.url}}"></a></div>
    <h3>{{post.title}}</h3>
    <p>{{post.content}}</p>
    <div class="date">{{post.created_at}}</div>
    {% if post.author == user%}
        <div class="update"><a href="/post/{{post.id}}/" >редактировать</a></div>
    {% endif %}
        <br>
    </div>

{% endfor %}
    </div>
    <div class="col-md-1">
        </div>
    <div class="col-md-2">
    <form action="">
        {{sform.sort_field}}
        <input type="submit" class="btn btn-primary" value="Отсортировать">
    </form>
         </div>
{% endblock %}