.back
{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.3;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.content_menu
{
    width: 100%;
    height: 12%;
    background-color: black;
}
.content
{
    position: absolute;
    color: black;
}
.avatar
{
    position: absolute;
    left: 500px;
}
.home
{
    position: absolute;
    left: 5%;
    width: 5%;
}
.mess
{
    position: absolute;
    top: 2%;
    left: 90%;
    width: 5%;
}
.enter
{
    position: absolute;
    top: 7%;
    left: 90.6%;
    width: 5%;
}
.registration
{
    position: absolute;
    top: 7%;
    left: 3%;
}
p
{
    color:white;
}